<!doctype html>
<html lang="en" class="loading">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="<%= htmlWebpackPlugin.options.baseHref %>"/>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
</head>
<body>
<noscript>
    JavaScript required for this page to work. Please turn on JavaScript and then refresh your browser.
</noscript>
<div id="root" style="height: 100%"></div>
</body>
</html>
